<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.title %> -- Desclution</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <link rel="icon" href="../DesclutionLogo.png">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header id="mainHeader">
        <nav id="SecondaryNav">
            <div id="navTitleWrapper">
                <img src="../DesclutionLogo.png" id="navLogo"><h1>Desclution</h1>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./info">Info</a></li>
                <li><a href="./new">Submit</a></li>
                <li><a href="./schedule">Release Schedule</a></li>
                <li><a href="./contact">contact</a></li>
                <li><a href="./submission">Submissions</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <a href="./submissions" class="btn btn-secondary"><i class="fas fa-long-arrow-alt-left"></i></a>
        <a href="./edit/<%= article.id %>" class="btn btn-info"><i class="fas fa-edit"></i></a>
        <form action="./<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        </form>
        <div>
            <h1><%= article.title %> - <%= article.creator %></h1>
            <audio controls>
                <source src="../<%= article.pathToFile %>" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
</body>
</html>